EarthQuake.xcodeproj/project.xcworkspace/xcshareddata
EarthQuake.xcodeproj
EarthQuake.xcodeproj/xcuserdata
EarthQuake.xcodeproj/project.xcworkspace
EarthQuake.xcodeproj/xcuserdata/matthewjagiela.xcuserdatad/xcschemes
EarthQuake.xcodeproj/xcuserdata/matthewjagiela.xcuserdatad
EarthQuake.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
EarthQuake.xcodeproj/project.xcworkspace/contents.xcworkspacedata
EarthQuake.xcodeproj/xcuserdata/matthewjagiela.xcuserdatad/xcschemes/xcschememanagement.plist
